*{margin:0px;padding:0px;}

.background{
    width:100vw;
    height:100vh;
    background:rgb(43, 44, 44);
    position:relative;
    overflow:auto;
}
.container{
    width:900px;
    height:80vh;
    margin:10vh auto 0;
    background:rgb(35, 36, 36);
    overflow:auto;
}
.todoinput{
    text-align:center;
    margin-top:5vh;
    
    height:50px;
    
}
.addimg{
    width:50px;
    height:50px;
    position:absolute;
    background:rgb(61, 138, 177);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.addtext{
    height:50px;
    border:none;
    background:rgba(243, 243, 243, 0.87);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width:360px;
    font-size:39px;
    outline:none;
    margin-left:-50px;
}
.listitems{
    margin-top:15px;
}
.item{
    background:green;
    text-align:center;
    margin:0 auto;
    width:400px;
    height:50px;
    border: 1px solid red;
}